
*.xcplayground

*.xctimeline

*.xcuserstate

*.xcsettings

*.xcworkspacedata

*.xcbkptlist

*.xcscheme

swiftrax-cli/swiftrax_cli.xcodeproj/xcuserdata/ddremund.xcuserdatad/xcschemes/xcschememanagement.plist

swiftrax-cli/swiftrax-cli/main.swift
